.container {
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.form {
    margin: 50px auto 0;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 350px;
    border: solid;
    border-radius: 10px;
    border-color: #22752a;
}

.input {
    margin: 4px;
}

.select {
    margin-top: 20px;
    width: 115px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.error {
    color: red;
}