.container {
    display: flex;
    justify-content: center;
    flex-direction: row;
    text-align: center;
}

.form {
    margin-top: 50px;
    padding: 65px;
    padding-top: 20px;
    padding-bottom: 20px;
    border: solid;
    border-radius: 10px;
    border-color: #22752a;
}

.input {
    margin: 4px;
}

.select {
    margin-top: 20px;
    width: 110px;
}

.error {
    color: red;
}