/* .card {
    text-align: center;
    box-sizing: content-box;
    width: 200px;
    margin: 7px;
    padding: 2px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.603), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: white;
    float: left;
} */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 8px;
    text-align: center;
    background-color: #f1f1f1;
  }