/* .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 145px;
    padding: 7px;
    margin: 10px 0px;
    text-align: center;
    background-color: #f1f1f1;
} */

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  padding: 8px;
  margin: 0px 0px;
  text-align: center;
  background-color: #f1f1f1;
}